@keyframes ldio-wbectdgv0wm {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-wbectdgv0wm div {
  position: absolute;
  width: 62px;
  height: 62px;
  border: 8px solid rgb(0, 171, 85);
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-wbectdgv0wm div {
  animation: ldio-wbectdgv0wm 0.7874015748031495s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-m81hhj3m34 {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-wbectdgv0wm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.7);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-wbectdgv0wm div {
  box-sizing: content-box;
}
