.registration {
  height: 100%;
  padding: 50px;
  display: flex;
}

.rightPart {
  margin: 0 auto;
  padding-top: 80px;

  &__error {
    text-align: center;
    color: red;
    padding-top: 10px;
  }
}
