.login {
  height: 100%;
  padding: 10px;
  display: flex;
}

.login_rightPart {
  margin: 0 auto;
  padding-top: 120px;

  &__error {
    text-align: center;
    color: red;
    padding-top: 10px;
  }
}
