.goodAd {
  padding: 0 50px;

  &_formHeader {
    display: block;
    font-size: 25px;
    margin-bottom: 20px;
  }

  &_bck {
    background-color: transparent;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: rgb(244, 246, 248);
    }
  }

  &_content {
    display: flex;
    flex-direction: column;

    &__bottom {
      display: flex;
    }

    &__left {
      margin-right: 30px;
    }

    &__right {
      background-color: #f2f4f5;
      width: 100%;
      padding: 45px 55px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__right__box {
      display: flex;
    }

    &__right__contacts {
      margin-right: 40px;
    }

   
  }

  &_title {
    font-size: 30px;
    padding-left: 25px;
    padding-top: 10px;
    font-weight: 500;
    margin-bottom: 40px;
  }
}
.goodAd_imgBox {
  background-color: #f2f4f5;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  &__img {
    display: inline-block;
    width: 400px;
    margin: 0 auto;
  }
}

.goodAd_content__right-item {
  margin-bottom: 15px;
}

.goodAd_content__category {
  font-size: 26px;
  font-weight: 600;
  margin-right: 30px;
}

.goodAd_content__value {
  font-size: 22px;
  margin-right: 30px;
}

.goodAd_content__description {
  font-size: 26px;
  display: flex;
  flex-direction: column;
}
